body {
  background-color: #e6ecf0;

}

/* NavBar */
.navbar{
  margin-bottom: 1rem;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0.5rem;
  font-size: larger;
  opacity: 0.8;
  text-decoration: none;
}

.navbar a:hover{
  cursor: pointer;
  opacity: 1;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.navbar.navbar-nav li{
  margin: 0 0.5rem;
}

.navbar {
  background-image: url("./images/nav-bg.png");
  background-size: 100%;
}

/* Homepage */

.home-hero{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url("./images/signed-out-home.jpg");
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0px 0px 8px #66757f,
              2px 6px 10px #66757f;

}

/* Messages style */

#messages .list-group-item{
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;

}

#messages:not(.no-hover) .list-group-item:hover{
  background-color: #e6ecf0;
}